@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

.heading-div{
font-size: clamp(1rem, 1vw + 1rem, 2rem);
font-weight: bold;
color: #052a49;
margin-top: 20px;
margin: 10px;
justify-content: center;
align-items: center;
display: flex;
}

.img-cont-ac{
    margin: 40px;
}

.waiting-div{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100vw;
    height: 70vh;
}

.waiting-div h1{
     font-size: clamp(1.25rem, 5vw, 8rem);
     font-family: "Poiret One", sans-serif;
}