@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poiret+One&display=swap');

*{
  font-family: "Outfit", sans-serif;
  
}

.navbar{
  display: flex;
  align-items: center; 
  background-color: #ffffff;
  box-shadow: -1px 8px 12px -7px rgba(0,0,0,0.52);
  -webkit-box-shadow: -1px 8px 12px -7px rgba(0,0,0,0.52);
  -moz-box-shadow: -1px 8px 12px -7px rgba(0,0,0,0.52);
  color:rgb(0, 140, 158);
}


.nav-title {
  font-size: 25px;
  cursor: pointer;
}

.navbar-right, .navbar-center, .navbar-left{
  flex: 1;
  text-align: center;
}

.navbar-right{
  display: flex;
  text-align: start;
  margin-right: 50px;
  padding: 10px;
  margin: 10px;
}

.navbar-right img{
  width: 130px;
}

.navbar-left{
  justify-content: end;
  align-items: end;
  margin-right: 50px;
  display: flex;
  font-size: 10px;
}

.navbar-center{
  justify-content: center;
  align-items: center;
  display: flex;
}

.navbar-center ul{

 justify-content: center;
 align-items: center;
 display: flex;

}

.navbar-center li{
  margin: 10px;
  font-size: 22px;

}

.search-icon-nav ,.fav-icon , .shop-icon , .account-icon-m {
  margin: 15px;
  margin-left: 20px;
  cursor: pointer;
}

.fav-icon-amount , .shopping-icon-amount{
  background-color: rgb(7, 99, 128);
  color: white;
  padding: 5px;
  padding-left: 5px;
  margin-left: -20px;
  border-radius: 50%;
  position: absolute;
  width: 20px;
}

.nav-small {
  margin-left: 50px;
}

.small-nav-heading  {
  margin-top: 20px;
  font-size: 18px;
}

.small-nav-end{
 margin-top: -29px;
}

.small-nav-end ul{
  justify-content: end;
  align-items: end;
  display: flex;
}

.small-nav-end li{
  margin-right: 20px;
  color: rgb(0, 60, 255);
  font-size: 20px;
}

.expand-div{
  display: none;
 }

 .btn-expand{
  margin-left: -40px;
  color: #00aeff;
 }



@media(max-width:1050px){
   .navbar-center{
    display: none;
   }

   .search-icon-nav ,.fav-icon , .shop-icon , .account-icon-m {
    margin-left: 0px;
  }

  .expand-div{
    display: block;
   }
  
}

@media(max-width:899px){
 .nav-small{
   display: none;
 }

}

@media(max-width:745px){

  .navbar-right{
    margin-right: 0px;
  }
  .logo-nav{
    width: 45px;
  }

  .nav-title{
    font-size: 15px;
  }
 
 }

 @media(max-width:616px){

  .search-icon-nav ,.fav-icon , .shop-icon , .account-icon-m {
    margin: 5px;
    margin-left: 20px;
    cursor: pointer;
  }
  
  .fav-icon-amount , .shopping-icon-amount{
    padding: 5px;
    padding-left: 5px;
    border-radius: 50%;
    margin-top: -10px;
  }
  
 
 }