@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poiret+One&display=swap');

*{
  font-family: "Outfit", sans-serif;
  
}

.navbar{
  display: flex;
  align-items: center; 
  background-color: #ffffff;
  color: rgb(0, 195, 255);
  box-shadow: -2px 0px 14px -6px rgb(0, 0, 0);
}

.navbar-right, .navbar-center, .navbar-left{
  flex: 1;
  text-align: center;
}

.navbar-right{
  display: flex;
  text-align: start;
  margin-right: 50px;
  padding: 5px;
  margin: 10px;
}

.navbar-right img{
  width: 120px;
}

.navbar-left{
  justify-content: end;
  align-items: end;
  margin-right: 50px;
  display: flex;
  font-size: 10px;
}

.navbar-center{
  justify-content: center;
  align-items: center;
  display: flex;
}

.navbar-center ul{

 justify-content: center;
 align-items: center;
 display: flex;

}

.navbar-center li{
  margin: 10px;
  font-size: 22px;

}

.search-icon-nav ,.fav-icon , .shop-icon , .account-icon-m {
  margin: 15px;
  margin-left: 20px;
  cursor: pointer;
}

.fav-icon-amount , .shopping-icon-amount{
  color: rgb(0, 140, 255);
  color: white;
  padding: 5px;
  padding-left: 5px;
  margin-left: -20px;
  border-radius: 50%;
  position: absolute;
  width: 20px;
}

.nav-small {
  margin-left: 50px;
}

.small-nav-heading  {
  margin-top: 20px;
  font-size: 18px;
}

.small-nav-end{
 margin-top: -29px;
}

.small-nav-end ul{
  justify-content: end;
  align-items: end;
  display: flex;
}

.small-nav-end li{
  margin-right: 20px;
  color: rgb(0, 140, 255);
  font-size: 20px;
}

.expand-div{
  display: none;
 }

 .btn-expand{
  margin-left: -40px;
  color: #00aeff;
 }



@media(max-width:1050px){
   .navbar-center{
    display: none;
   }

   .search-icon-nav ,.fav-icon , .shop-icon , .account-icon-m {
    margin-left: 0px;
  }

  .expand-div{
    display: block;
   }
  
}

@media(max-width:899px){
 .nav-small{
   display: none;
 }

}

@media(max-width:745px){

  .navbar-right{
    margin-right: 0px;
  }
  .logo-nav{
    width: 45px;
  }

  .nav-title{
    font-size: 15px;
  }
 
 }

 @media(max-width:616px){

  .search-icon-nav ,.fav-icon , .shop-icon , .account-icon-m {
    margin: 5px;
    margin-left: 20px;
    cursor: pointer;
  }
  
  .fav-icon-amount , .shopping-icon-amount{
    padding: 5px;
    padding-left: 5px;
    border-radius: 50%;
    margin-top: -10px;
  }
  
 }
 
 .searchBox-container{
  width: 450px;
  height: 100px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: -2px 4px 9px -5px rgba(0, 0, 0, 0.5);
  animation: fadeSlideIn 0.4s ease-out forwards;
  transform-origin: center;
   
 }
 

.input-container {
  right: 10px;
  position: relative;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.custom-input {
  width: 100%;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid gray;
  outline: none;
  transition: border-bottom-color 0.3s ease;
}

.custom-label {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: gray;
  transition: all 0.3s ease;
  pointer-events: none;
}

.custom-input:focus + .custom-label,
.custom-input:valid + .custom-label {
  top: 0;
  font-size: 12px;
  color:  rgb(0, 162, 255);
}

.custom-underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(0, 183, 255);
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.custom-input:focus ~ .custom-underline {
  transform: scaleX(1);
}

.search-button{
  background-color: rgb(0, 183, 255);
  border-radius: 40px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  box-shadow: -2px 4px 9px -5px rgb(127, 210, 248);
}

.search-button-m{
  color: white;
}

.searchBox-overlay{
  justify-content: center;
  align-items: center;
  display: flex;
}

@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.searchBox-overlay {
  animation: fadeOverlay 0.3s ease forwards;
}

@keyframes fadeOverlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

